/** 
* Cart Tip
*/
.reserving--cart--tip--content--wrapper{
    display        : flex;
    flex-direction : column;
    text-align     : left;
    justify-content: left;
}
.reserving--cart--tip--content--wrapper .booktat--cart--tip--heading{
    padding:0;
    margin: 0;

}
.reserving--tips--wrapper{
  display: flex;
  margin: 20px 0 5px;
  flex-wrap: wrap;
}
.reserving--tips--wrapper > div{
    display: flex;
    margin: 0 15px 15px 0;
}
.reserving--tip--action{
    display: flex;
    align-items: baseline;
    gap:10px;
}

.reserving--cart--tip--content--wrapper select{
    padding: 12px;
    border: 1px solid rgb(171, 165, 165);
}


/* Checkout page extra item css */
.woocommerce table.shop_table td.product-name {
    color: #2e2e2e;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Roboto';
    line-height: 16px;
    font-weight: 500;
    padding-top: 10px;
  }
  .woocommerce-checkout .product-name strong.reserving-item-heading {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: red;
    font-family: 'Roboto';
    line-height: 14px;
  }
  .woocommerce-checkout ul.reserving_extra_items {
      padding: 0;
      padding-left: 20px;
      font-size: 14px;
      font-weight: 400;
  }
  .woocommerce-checkout ul.reserving_extra_items li {
      margin: 5px !important;
  }
  
  /* Book at Extra tip css Here */    
    input.reserving--cart--btn.reserving_extra_tip , input.reserving--cart--remove--extra-tip.reserving--cart--btn{
    font-family: "Roboto", Sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    fill: #ffffff;
    color: #ffffff;
    background-color: #f54748;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 4px 4px 4px 4px;
    padding: 14px 30px 14px 30px;
  }
   input.reserving--cart--btn.reserving_extra_tip:hover, input.reserving--cart--remove--extra-tip.reserving--cart--btn:hover {
    color: #f54748;
    background-color: #ffffff00;
    border-color: #f54748;
  }
  
  
  

  
  
  
  
  
  
  