.mt-20 {
  margin-top: 20px;
}
/* Button used to open the contact form - fixed at the bottom of the page */
.reserving-open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: relative;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 12;
  max-width: 460px;
  padding: 20px;
}
.form-popup {
  display: block;
}
/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}
div#availabilityChecker.direct_show {
  display: block;
}
/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn,
a.btn.start_order {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.8;
  margin-top: 20px;
  display: block;
}

/* Add a red background color to the reserving-close button */
.form-container .reserving-close {
  background-color: #8d8d8d;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.reserving-open-button:hover {
  opacity: 1;
}

span.founds {
  font-size: 16px;
  margin-top: 12px;
  padding: 5px 0;
  color: #515151;
}
.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

#reserving_tables .tables .single_table {
  display: inline-block;
  padding: 8px;
}
#reserving_tables .tables .single_table input {
  margin: 0;
  display: inline-block;
}
#inRestChecker .suggestions .btn {
  background-color: #656565;
}
.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 10px 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.suggestions li:nth-child(even) {
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}

.suggestions li:nth-child(odd) {
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}
.suggestions li.selected {
  background: #2b2d2f;
  color: white;
}
span.population {
  font-size: 15px;
}
.message.success {
  color: #04aa6d;
}
.message.error {
  color: #ff4141;
}
.start_order {
  text-align: center;
}
#checkoutDeliveryInfo .start_order,
.availibity_checker_btn {
  display: inline-block;
}

ul.delivery_areas {
  max-height: 200px;
  overflow-y: auto;
}
#pickupChecker .start_order {
  display: block;
}

.loader {
  display: none;
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 30px;
  height: 30px;
  margin: 15px auto 0;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-popup .reserving__tabs button.active {
  background-color: #f54748;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}
.form-popup .reserving__tabs button:hover {
  background-color: #f54748;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.form-popup .reserving__tabs button {
  float: left;
  border: 1px solid #f54748;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  margin: 0px;
  background: #ffffff;

  border-radius: 4px;
  color: #f54748;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.form-popup .reserving__tabs button {
  padding: 20px 30px;
}
.form-popup {
  display: none;
  position: relative;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 1;
  min-width: 550px !important;
  padding: 12px;
}

.reserving__tabs {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
select,
textarea {
  width: 100%;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  background: #fffbfb;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}

b {
  font-weight: 500;
}

.form-container label {
  padding: 30px 0px;
  font-size: 18px;
  line-height: 0px;
}

.form-popup p:last-of-type {
  margin-bottom: 0;
  padding: 30px 0px;
  font-size: 18px;
  line-height: 0px;
  font-family: "Roboto";
  font-weight: 500;
}

.form-container .btn,
a.btn.start_order {
  background-color: #f54748 !important;
  border-radius: 4px;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 1;
  margin-top: 20px;
  display: block;
}
.reserving_delivery_areas .delivery_areas {
  scroll-behavior: smooth;
}
.form-popup .reserving__tabs {
  padding: 12px 12px 12px 12px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: -9px -1px 80px rgba(0, 0, 0, 0.26);
}
.reserving-form-container
  input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
}

.form-popup ul.delivery_areas {
  max-height: 200px;
  overflow-y: auto;
}
.form-popup .suggestions li.selected {
  background: #f54748;
  color: white;
}

.form-popup .suggestions li {
  list-style: none;
  border-bottom: 1px solid #f54748;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 10px 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  cursor: pointer;
}

.form-popup.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  background: #fffbfb;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  transition: all 0.3s;
}
.form-popup input.delivery_date:focus-visible {
  outline-color: #f54748;
}
.form-popup select:focus-visible {
  outline-color: #f54748;
}
.form-popup select:focus {
  outline-color: #f54748;
  border: 2px solid #f54748;
}

.form-popup input.delivery_date:focus {
  border-color: #f54748;
}

.form-popup .single_table label {
  padding: 0px 5px;
  margin-top: -5px;
  font-size: 18px;
  line-height: 1;
}

.form-popup input[type="checkbox"] {
  accent-color: #f54748;
}

.form-popup .message.success {
  color: #27ae60;
  font-size: 18px;
  font-family: "Roboto";
}

.form-popup p:first-of-type {
  margin-bottom: 0;
  padding: 30px 0px;
  font-size: 18px;
  line-height: 0px;
  font-family: "Roboto";
  font-weight: 500;
}

/*popup show field design css*/

.reserving-open-button {
  background-color: #f54748 !important;
  color: white;
  padding: 16px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: 1 !important;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

.reserving-open-button:focus,
:focus-visible {
  outline-color: #f54748;
}

/*Close Button css*/

button.btn.reserving-close.mt-20 {
  border: 1px solid #f54748;
  outline: none;
  cursor: pointer;
  color: #f54748;
  transition: 0.3s;

  background: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
}

button.btn.reserving-close.mt-20:hover {
  color: #ffffff;
  background: #f54748;
}

.reserving-form-checker-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}
.reserving-form-checker-wrapper.active {
  display: block;
}
.reserving-form-popup {
  position: relative;
  z-index: 20;
}

.reserving-delivery-info-wrapper {
  display: block;
}

/** Frontend Dashboard **/
/* Bookat custom css Start Form Here */
.woocommerce-cart-form__cart-item .bookta-extra-cart-wrapper {
  padding-left: 20px;
}

.reserving--order--details--modal .reserving-assign-delivery-man-area {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-top: 12px;
}

.reserving--order--details--modal .reserving-assign-delivery-man-area select {
  width: 250px;
}

/*BOOK AT CATEGORY SLIDER ARROW HOVER EFFECT CSS HERE*/

.reserving-category-product-slider .slick-arrow:hover {
  background: #fde2e2 !important;
  color: #2e2e2e !important;
}

.woocommerce-checkout ul.reserving_extra_items {
  padding: 0;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
}
.woocommerce-checkout ul.reserving_extra_items li {
  margin: 5px !important;
}

/* Book at Extra tip css Here */
.woocommerce-checkout input.reserving--cart--btn.reserving_extra_tip,
input.reserving--cart--remove--extra-tip.reserving--cart--btn {
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #f54748;
  border-style: solid;
  margin-left: 14px;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px 4px 4px 4px;
  padding: 14px 30px 14px 30px;
}

.woocommerce-checkout input.reserving--cart--btn.reserving_extra_tip:hover,
input.reserving--cart--remove--extra-tip.reserving--cart--btn:hover {
  color: #f54748;
  background-color: #ffffff00;
  border-color: #f54748;
}

.sr-cart-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul.reserving_extra_items li label:first-child {
  width: 210px !important;
}

.sr-cart-wrapper button.single_add_to_cart_button.button.alt {
  margin-top: 20px;
  margin-left: 0px;
  border: none;
}

.reserving_extra_items span.reserving_quantity_unit {
  padding-left: 15px;
}

/* book at branch select */

.form-popup ul.delivery_areas {
  margin-left: 0 !important;
}

/* Product card model Box Popup Add to cart design css Here */

.modal-content.reserving-extra--item
  .reserving-single-item-wrapper
  .wooready_product_quantity {
  margin: 13px 0px 0px 0px;
}

.modal-content.bookat-extra--item
  .reserving-single-item-wrapper
  .reserving-cart-wrapper {
  display: flex;
  gap: 20px;
}

.modal-content.reserving-extra--item
  .reserving-single-item-wrapper
  input.extra_quantity {
  width: 30%;
}

.modal-content.reserving-extra--item
  .reserving-single-item-wrapper
  .wooready_product_quantity
  .product-quantity
  button,
.modal-content.reserving-extra--item
  .reserving-single-item-wrapper
  .product-quantity
  button {
  width: 50px;
  height: auto;
  padding: 0;
  background-color: #fff;
  font-size: 24px;
  color: #f54748;
  border: 0;
  margin-top: 0px;
}

.reserving-extra--item button.single_add_to_cart_button.button {
  padding: 15px 30px 16px 30px;
  margin-top: 14px;
}
.modal-content.reserving-extra--item
  .reserving-single-item-wrapper
  .wooready_product_quantity
  .product-quantity {
  border-radius: 4px;
}

/* Order Page logout button Design */
.reserving-main-content-wrapper-wrapper .reserving-fdash-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.reserving-main-content-wrapper-wrapper .reserving-logout a {
  padding: 10px 40px;
  background: #f54748;
  border-radius: 4px;
  color: #ffffff;
  transition: all 0.7s ease-in-out;
}

.reserving-main-content-wrapper-wrapper .reserving-logout a:hover {
  background: #ffffff;
  border: 1px solid #f54748;
  color: #f54748;
}

/* order table nav button */

.reserving-ordertable-filter-wrapper.reserving-icon-menu button:hover span {
  color: #f54748;
}

.reserving_order_filter_btns button:focus,
.reserving_order_filter_btns button:hover,
.reserving_order_action_btns button:hover,
button.reserving_print_pdf:hover {
  color: #fff;
  background-color: #f54748;
  text-decoration: none;
}
.reserving_order_filter_btns button,
.reserving_order_action_btns button,
button.reserving_print_pdf {
  color: #f54748;
  text-align: center;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 1px solid #f54748;
}

.reserving-front-dashboard-manager .dataTables_paginate {
  display: flex;
}
/* Icon Menu in order page */

.reserving-ordertable-filter-wrapper.reserving-icon-menu button {
  border: none;
}

.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reserving-dash-icon-wrapper
  img {
  width: 53px;
  height: 53px;
  justify-content: center;
  align-items: center;
  display: inline-block;
}
.reserving_order_filter_btns button:focus,
.reserving_order_filter_btns button:hover {
  color: #f54748;
  background: transparent;
  outline: 0;
}
.woocommerce-js .reserving_order_filter_btns button:focus,
.woocommerce-js .reserving_order_filter_btns button:hover {
  color: #fff;
  background: #f54748;
}
.woocommerce-js .reserving_order_filter_btns button:focus span {
  color: #fff;
}
.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reserving_order_filter_btns,
.reserving_order_action_btns {
  display: flex;
  justify-content: center;
}

.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reserving-dash-icon-wrapper {
  position: relative;
}

.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reservingorder_filter_btns
  span.count {
  right: 10px;
}

.reserving-icon-menu .reserving_order_filter_btns button:after {
  content: " ";
  width: 70px;
  height: 15px;
  z-index: 1;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='70' height='15' viewBox='0 0 70 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M69.7448 9.24771C68.3026 7.72132 66.9555 6.1256 65.6996 4.44057C65.0889 3.62205 64.4953 2.78886 63.9018 1.95701C63.447 1.31979 62.9447 0.285306 62.1753 0.00802236C62.1039 -0.0173065 61.9969 0.0373505 61.985 0.117336C61.866 0.942523 62.5415 1.84636 62.9328 2.52891C63.4801 3.48474 64.0736 4.40857 64.6897 5.32041C65.2779 6.19092 65.886 7.05077 66.5087 7.89862C58.5955 4.67786 50.2222 2.82619 41.6679 2.53824C32.2754 2.22096 22.7931 3.73669 13.9862 7.0561C11.5062 7.99194 9.0778 9.06508 6.7234 10.2889C5.54026 10.9048 4.37033 11.5513 3.22816 12.2418C2.13226 12.9057 0.95176 13.5696 0.0726623 14.5134C-0.105801 14.7041 0.0673745 15.084 0.343662 14.984C1.39726 14.6014 2.32395 13.9669 3.30219 13.423C4.31613 12.8591 5.32874 12.2938 6.36383 11.7673C8.44458 10.7075 10.5809 9.75562 12.7568 8.91311C17.0478 7.25207 21.5015 6.02829 26.0292 5.23376C35.1017 3.64204 44.5299 3.82068 53.5165 5.86031C56.9021 6.62818 60.2321 7.644 63.4497 8.94377C62.8614 8.97443 62.2745 9.01175 61.6862 9.05841C60.4026 9.15973 59.1229 9.30237 57.8459 9.47701C56.5848 9.64897 55.2774 9.77695 54.0744 10.1955C53.1239 10.5262 53.2046 12.1232 54.3242 12.0619C55.6026 11.9912 56.8664 11.6873 58.1354 11.502C59.3146 11.3287 60.4991 11.1954 61.6862 11.0927C62.8786 10.9887 64.075 10.9194 65.27 10.8768C66.0698 10.8474 66.8828 10.8741 67.6892 10.8608C67.824 10.9287 67.9602 10.9954 68.095 11.0647C68.76 11.406 69.3813 11.0514 69.6668 10.5395C70.0343 10.2235 70.1493 9.67564 69.7448 9.24771Z' fill='%234F5562'/%3e%3c/svg%3e");
  top: 30%;
  background-repeat: no-repeat;
  position: absolute;
  display: inline-block;
}

body .reserving_order_filter_btns button:last-child:after {
  display: none;
}

.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reserving_order_filter_btns
  button:last-child:after {
  background-image: none;
  display: none;
}

.reserving-ordertable-filter-wrapper.reserving-icon-menu button {
  border: none;
  background: transparent;
}

/* Icon Inner Wrapper   */
.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reserving-dash-icon-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reserving-icon-inner-wrapper {
  position: relative;
  width: 53px;
  height: 53px;
}

.reserving-ordertable-filter-wrapper.reserving-icon-menu
  .reserving_order_filter_btns
  span.count {
  right: -10px;
  top: -10px;
}

.reserving-ordertable-filter-wrapper label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  padding: 10px 10px;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  color: #fff !important;
  border: none;
  background: none;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current:hover {
  color: #f54748 !important;
  border: none;
  background: none;
}
/* order view Button  */

#orders_table button {
  position: relative;
  padding: 10px 25px;
  cursor: pointer;
  border: 1px solid #f54748;
  color: #fff;
  background: #f54748;
}

#orders_table button:hover {
  cursor: pointer;
  border: 1px solid #f54748;
  color: #f54748;
  background: #fff;
}

/*  */

.reserving_order_filter_btns span {
  color: #2e2e2e;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  padding-top: 20px;
}
.reserving_order_filter_btns span:hover {
  color: #f54748;
}

/*order table design css here  */
.reserving-ordertable-filter-wrapper table.dataTable tr {
  border: none;
  background: #fff;
  color: #2e2e2e;
}

.reserving-ordertable-filter-wrapper table.dataTable thead th,
.reserving-ordertable-filter-wrapper table.dataTable thead td {
  padding: 10px 18px;
  border: none;
}
.reserving-ordertable-filter-wrapper table.dataTable tbody td {
  /*     padding: 8px 10px; */
  line-height: 3;
  color: #2e2e2e;
  border: none;
}

.reserving-ordertable-filter-wrapper table.dataTable.no-footer {
  border: none;
}

.reserving-ordertable-filter-wrapper table.dataTable thead th,
.reserving-ordertable-filter-wrapper table.dataTable thead td {
  padding: 18px 18px;
  border: none;
}

button.active {
  color: #fff;
  background-color: #f54748;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.dataTables_wrapper {
  background: #2e2e2e;
}
.dataTables_wrapper .dataTables_length select,
.dataTables_wrapper .dataTables_filter input {
  padding: 5px;
  margin-left: 3px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  color: #fff;
}

.dataTables_wrapper .dataTables_info {
  color: #ffffff !important;
  padding-left: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #fff !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

/* Book at Billing model  customer info design css */
.reserving-order-details-modal-wrap .billing_info.reserving--billings--info {
  width: 50%;
  display: inline-block;
}

.reserving-order-details-modal-wrap .shipping_info.reserving-shipping--info {
  display: inline-block;
  width: auto;
}

.reserving-order-details-modal-wrap .customer_info {
  width: 100%;
  display: block;
  margin: 30px 0px;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.reserving-order-details-modal-wrap .reserving_order_action_btns {
  margin: 30px 0px;
}

.reserving-order-details-modal-wrap .order_total {
  text-align: right;
  padding: 20px 0px;
  margin: 0;
}

.reserving-front-dashboard-manager h3 {
  background: #f54748;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}

/* Responsive Mobile Order details  */
@media screen and (max-width: 480px) {
  .reserving-main-content-wrapper-wrapper .reserving-fdash-heading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Responsive tablet Order details  */
@media screen and (max-width: 768px) {
  .reserving-ordertable-filter-wrapper.reserving-icon-menu {
    display: flex;
    flex-direction: row;
    gap: 7px;
    align-items: start;
    justify-content: flex-start;
  }

  .reserving_order_filter_btns {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 20px 10px 20px 10px;
    margin: 0 !important;
  }
  .reserving-ordertable-filter-wrapper.reserving-icon-menu
    .bookat-dash-icon-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
  }

  .reserving-ordertable-filter-wrapper.reserving-icon-menu button {
    padding: 0;
    margin: 0;
  }

  .reserving_order_filter_btns button:after {
    display: none;
  }

  .reserving_order_filter_btns span {
    font-size: 14px;
    padding-top: 5px;
  }
  div#orders_table_wrapper {
    overflow-x: auto;
  }
  .reserving-order-details-modal-wrap .reserving_order_action_btns {
    margin: 0;
    flex-wrap: wrap;
  }
  .reserving-ordertable-filter-wrapper table.dataTable tbody td {
    line-height: 20px;
  }
}
/* Order page filter setect input field css here */
.dataTables_wrapper .dataTables_length select.reserving-open-button:focus,
:focus-visible {
  outline: none;
}
.reserving_order_filter_btns span.count:focus {
  border: 0;
}
.dataTables_wrapper .dataTables_length select {
  color: #b6bfdc;
  padding-right: 45px !important;
  padding-left: 15px !important;
}

/* Bookat quick view button design css */
.woocommerce
  .reserving-extra--item
  button.reserving--single_add--to--cart--button.button {
  line-height: 20px;
  margin-top: 28px;
  border: 0;
}
.woocommerce
  .modal-content.reserving-extra--item
  .reserving-single-item-wrapper
  .wooready_product_quantity {
  margin: 10px 0px 0px 0px;
}
/* Model popup box extra item width */
.modal-content.reserving-extra--item
  ul.reserving_extra_items
  li
  label:first-child {
  width: 40% !important;
}

/* Tips Percentage select fields css */
.woocommerce select.reserving--cart--tip--type {
  padding-right: 50px;
}
.reserving-add-to-cart-button .added_to_cart.wc-forward {
  display: block !important;
}
