.reserving_extra_items input[type="number"] {
  width: 80px;
  padding: 0 5px;
}
ul.reserving_extra_items {
  padding-left: 20px;
}
ul.reserving_extra_items li {
  margin-bottom: 5px;
}

/*RESERVING product price CSS HERE*/
.single__product__item .product__item__price span.price {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 20px;
}

/* Extra Item Cart css Here */
/*Woocommerce Button*/

button.single_add_to_cart_button.button.alt {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #f54748;
  border-style: solid;
  margin-left: 14px;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px 4px 4px 4px;
  padding: 14px 30px 14px 30px;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  color: #f54748;
  background-color: #ffffff00;
  border-color: #f54748;
}
.woocommerce .quantity .qty {
  width: 100px;
  height: 48px;
  text-align: center;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  fill: #ffffff;
  color: #f54748;
  background-color: #f5474800;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px 4px 4px 4px;
  border-color: #f54748;
}
a.button.wc-forward {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #f54748;
  background-color: #ffffff;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-radius: 4px 4px 4px 4px;
  border-color: #f54748;
  padding: 20px 30px;
}
a.button.wc-forward:hover {
  color: #ffffff;
  background-color: #f54748;
}
.reserving-single-page ~ .added_to_cart.wc-forward {
  display: inline-block !important;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  fill: #ffffff;
  color: #ffffff;
  background-color: #f54748;
  border-radius: 4px 4px 4px 4px;
  padding: 14px 30px 14px 30px;
  margin-top: 23px;
  margin-left: 15px;
  border: 0;
}
button.single_add_to_cart_button.button.alt:focus {
  outline: none;
}

ul.reserving_extra_items li {
  margin-bottom: 20px !important;
}

.reserving_extra_items input[type="number"] {
  width: 65px !important;
  padding: 2px 6px !important;
  text-align: center;
}
/*cart page product design*/

.woocommerce-cart td.product-name a {
  display: inline-block;
  color: #2e2e2e;
  font-size: 22px;
  text-decoration: none;
  
  line-height: 22px;
  font-weight: 500;
  padding-top: 10px;
}

.woocommerce-cart tr.woocommerce-cart-form__cart-item.cart_item .product-name strong {
  display: block;
  margin-top: 20px;
  font-size: 18px;
  color: #f54748;
  
  line-height: 18px;
}

.woocommerce-cart tr.woocommerce-cart-form__cart-item.cart_item ul.reserving_extra_items li {
  margin-bottom: 8px !important;
  font-size: 16px;
  font-weight: 500;
 
  line-height: 16px;
}

.woocommerce-cart tr.woocommerce-cart-form__cart-item.cart_item ul.reserving_extra_items {
  padding-top: 10px;
}
/*Check box Css Here*/
.reserving-single-page ul.reserving_extra_items li label input[type="checkbox"] {
  accent-color: red;
  -ms-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
.reserving-single-page ul.reserving_extra_items li label input[type="checkbox"]:checked ~ span {
  color: #f54748;
  font-weight: 500;
}

.shopready-shop-archive-before-main-content div.product form.cart {

  margin-bottom: 2em;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
}

.reserving_extra_items li label{
  display: inline-flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

}

.reserving-single-page .reserving_extra_items li {
  display: flex;
  gap: 50px;
}




